# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
*.docs/


FinalReport.docx
FinalReport.md
FinalReport.pdf
FinalReport.tex

MASTER_CONTEXT.md



# Logs
*.log

# OS files
.DS_Store
Thumbs.db


.vscode/
